<h2>Dashboard component</h2>

<div class="container">

    <div class="row">

        <div class="col-md-3">

            <h3>Select files</h3>

            <input type="file" ng2FileSelect [uploader]="uploader" />
            <br/>
            <hr/>
            <div *ngFor="let word of words; let i = index">
             {{i}}. {{ word}}
            </div>
        </div>


    </div>

</div>
